.responsive__carDetails{
    display: flex;
}

@media (max-width:1000px){
    .responsive__carDetails{
        display: grid;
    }
}
.border__radius{
    border-radius: 15px;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}